<div class="cesis_opaque_header" id="header_container">
  <header class="top-header cesis_sticky cesis_header_hiding cesis_header_shadow"
          id="cesis_header">
    <div class="header_main">
      <div class="cesis_container">
        <div class="header_logo logo_left">
          <div id="logo_img">
            <a href="/">
              <img alt="Ukulele Tuesday"
                   class="white_logo desktop_logo"
                   src="/assets/images/ut-logo-white-green.png"
                   title="Ukulele Tuesday">
              <img alt="Ukulele Tuesday"
                   class="dark_logo desktop_logo"
                   src="/assets/images/ut-logo-white-green.png"
                   title="Ukulele Tuesday">
              <img alt="Ukulele Tuesday"
                   class="mobile_logo"
                   src="/assets/images/ut-icon-white-green-header-1.png"
                   title="Ukulele Tuesday">
            </a>
          </div>
          <div class="cesis_menu_button cesis_mobile_menu_switch">
            <div class="lines"></div>
          </div>
          <div class="cesis_mobile_extra">
            <div class="cesis_mobile_btn">
              <a href="/contact-us" target="_self"><span>Book Us!</span></a>
            </div>
          </div>
        </div>
        <!-- .header_logo -->
        <div class="tt-header-additional tt-main-additional additional_simple logo_left nav_normal">
          <span class="cesis_social_icons"><a class="fa fa-instagram"
   href="https://www.instagram.com/ukuleletuesday/"
   target="_blank"></a><a class="fa fa-facebook"
   href="https://www.facebook.com/UkuleleTuesday"
   target="_blank"></a><a class="fa fa-whatsapp" href="/whatsapp/"></a><a class="fa fa-tripadvisor"
   href="https://www.tripadvisor.com/Attraction_Review-g186605-d25399502-Reviews-Ukulele_Tuesday-Dublin_County_Dublin.html"
   target="_blank"></a><a class="fa fa-youtube"
   href="https://www.youtube.com/c/UkuleleTuesday/videos"
   target="_blank"></a></span><span class="cesis_menu_btn"><a href="/contact-us" target= "_self"><span>Book Us!</span></a></span>
        </div>
        <!-- .tt-main-additional -->
        <nav class="tt-main-navigation logo_left menu_center nav_normal"
             id="site-navigation">
          <div class="menu-main-ct">
            <ul class="main-menu sm smart_menu" id="main-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
                <a href="/concerts/"><span>Concerts</span></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138">
                <a href="/tuesday-session/"><span>Jam Session</span></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43">
                <a href="/songbook/"><span>Songbook</span></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120">
                <a href="/testimonials/"><span>Press</span></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121">
                <a href="/support-us" target="_blank"><span>Support Us</span></a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- #site-navigation -->
      </div>
      <!-- .cesis_container -->
    </div>
    <!-- .header_main -->
    <div class="header_mobile">
      <nav class="tt-mobile-navigation" id="mobile-navigation">
        <div class="menu-mobile-ct">
          <ul class="mobile-menu sm smart_menu" id="mobile-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
              <a href="/concerts/"><span>Concerts</span></a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138">
              <a href="/tuesday-session/"><span>Jam Session</span></a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43">
              <a href="/songbook/"><span>Songbook</span></a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120">
              <a href="/testimonials/"><span>Press</span></a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121">
              <a href="/support-us" target="_blank"><span>Support Us</span></a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- #site-navigation -->
      <div class="tt-mobile-additional">
        <span class="cesis_social_icons cesis_simple"><a class="fa fa-instagram"
   href="https://www.instagram.com/ukuleletuesday/"
   target="_blank"></a><a class="fa fa-facebook"
   href="https://www.facebook.com/UkuleleTuesday"
   target="_blank"></a><a class="fa fa-whatsapp" href="/whatsapp/"></a><a class="fa fa-tripadvisor"
   href="https://www.tripadvisor.com/Attraction_Review-g186605-d25399502-Reviews-Ukulele_Tuesday-Dublin_County_Dublin.html"
   target="_blank"></a><a class="fa fa-youtube"
   href="https://www.youtube.com/c/UkuleleTuesday/videos"
   target="_blank"></a></span>
      </div>
      <!-- .tt-mmobile-additional -->
    </div>
    <!-- .header_mobile -->
  </header>
  <!-- #cesis_header -->
</div>
<!-- #header_container -->
