{% from "_macros/social-icons.html" import social_profiles %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "{{ base_url }}/#organization",
      "name": "Ukulele Tuesday",
      "url": "{{ base_url }}/",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ base_url }}/assets/images/ut-icon-white-green.png"
      },
      "sameAs": [
        {% for url in social_profiles.values() %}
        "{{ url }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    },
    {% if page_url in ['/', '/tuesday-session/'] %}
    {# The session venue. static/js/calendar.js copies it into the Events it adds for play-alongs held here. #}
    {
      "@type": "Place",
      "@id": "{{ base_url }}/#stags-head",
      "name": "The Stag's Head",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1 Dame Court",
        "addressLocality": "Dublin",
        "postalCode": "D02 TW84",
        "addressCountry": "IE"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 53.3438,
        "longitude": -6.2658
      }
    },
    {% endif %}
    {
      "@type": "WebSite",
      "@id": "{{ base_url }}/#website",
      "url": "{{ base_url }}/",
      "name": "Ukulele Tuesday",
      "description": "We play ukuleles on Tuesday",
      "publisher": {
        "@id": "{{ base_url }}/#organization"
      },
      "inLanguage": "en-GB"
    },
    {
      "@type": "WebPage",
      "@id": "{{ base_url }}{{ page_url if page_url else '/' }}#webpage",
      "url": "{{ base_url }}{{ page_url if page_url else '/' }}",
      "name": "{% block og_title %}{% endblock %}",
      "isPartOf": {
        "@id": "{{ base_url }}/#website"
      },
      "inLanguage": "en-GB"
    },
    {
      "@type": "BreadcrumbList",
      "@id": "{{ base_url }}{{ page_url if page_url else '/' }}#breadcrumb",
      "itemListElement": [
        {% for crumb in breadcrumbs %}
        {
          "@type": "ListItem",
          "position": {{ loop.index }},
          "name": "{{ crumb.name }}",
          "item": "{{ base_url }}{{ crumb.url }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }{% if page_url == '/book-us/' %},
    {
      "@type": "MusicGroup",
      "@id": "{{ base_url }}/#band",
      "name": "Ukulele Tuesday",
      "url": "{{ base_url }}/book-us/",
      "mainEntityOfPage": "{{ base_url }}/book-us/",
      "image": "{{ base_url }}/assets/images/Ukulele-Tuesday-Band-playing.jpg",
      "foundingLocation": {
        "@type": "City",
        "name": "Dublin"
      },
      "areaServed": {
        "@type": "Country",
        "name": "Ireland"
      },
      "parentOrganization": {
        "@id": "{{ base_url }}/#organization"
      },
      "sameAs": [
        {% for url in social_profiles.values() %}
        "{{ url }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }{% endif %}
  ]
}
</script>
