<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "{{ base_url }}/#organization",
      "name": "Ukulele Tuesday",
      "url": "{{ base_url }}/",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ base_url }}/assets/images/ut-icon-white-green.png"
      }
    },
    {
      "@type": "WebSite",
      "@id": "{{ base_url }}/#website",
      "url": "{{ base_url }}/",
      "name": "Ukulele Tuesday",
      "description": "We play ukuleles on Tuesday",
      "publisher": {
        "@id": "{{ base_url }}/#organization"
      },
      "inLanguage": "en-GB"
    },
    {
      "@type": "WebPage",
      "@id": "{{ base_url }}{{ page_url if page_url else '/' }}#webpage",
      "url": "{{ base_url }}{{ page_url if page_url else '/' }}",
      "name": "{% block og_title %}{% endblock %}",
      "isPartOf": {
        "@id": "{{ base_url }}/#website"
      },
      "inLanguage": "en-GB"
    },
    {
      "@type": "BreadcrumbList",
      "@id": "{{ base_url }}{{ page_url if page_url else '/' }}#breadcrumb",
      "itemListElement": [
        {% for crumb in breadcrumbs %}
        {
          "@type": "ListItem",
          "position": {{ loop.index }},
          "name": "{{ crumb.name }}",
          "item": "{{ base_url }}{{ crumb.url }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }{% if page_url == '/book-us/' %},
    {
      "@type": "MusicGroup",
      "@id": "{{ base_url }}/#band",
      "name": "Ukulele Tuesday",
      "url": "{{ base_url }}/book-us/",
      "mainEntityOfPage": "{{ base_url }}/book-us/",
      "image": "{{ base_url }}/assets/images/Ukulele-Tuesday-Band-playing.jpg",
      "foundingLocation": {
        "@type": "City",
        "name": "Dublin"
      },
      "areaServed": {
        "@type": "Country",
        "name": "Ireland"
      },
      "parentOrganization": {
        "@id": "{{ base_url }}/#organization"
      },
      "sameAs": [
        "https://www.instagram.com/ukuleletuesday/",
        "https://www.facebook.com/UkuleleTuesday",
        "https://www.tripadvisor.com/Attraction_Review-g186605-d25399502-Reviews-Ukulele_Tuesday-Dublin_County_Dublin.html",
        "https://www.youtube.com/c/UkuleleTuesday/videos"
      ]
    }{% endif %}
  ]
}
</script>
