{% extends "_layouts/base.html" %}
{% block title %}Ukulele Tuesday Frequently Asked Questions{% endblock %}
{% block description %}Frequently asked questions about Ukulele Tuesday. And their answers, too.{% endblock %}
{% block canonical_url %}/faq/{% endblock %}
{% block og_title %}Ukulele Tuesday Frequently Asked Questions{% endblock %}
{% block og_description %}Frequently asked questions about Ukulele Tuesday. And their answers, too.{% endblock %}
{% block og_url %}/faq/{% endblock %}
{% block article_modified_time %}2025-07-25T23:20:00+00:00{% endblock %}
{% block og_image %}/assets/images/Ukulele-Tuesday-jam-crowd.jpg{% endblock %}
{% block twitter_title %}Ukulele Tuesday Frequently Asked Questions{% endblock %}
{% block twitter_description %}Frequently asked questions about Ukulele Tuesday. And their answers, too.{% endblock %}
{% block twitter_image %}/assets/images/Ukulele-Tuesday-jam-crowd.jpg{% endblock %}
{% block twitter_reading_time %}3 minutes{% endblock %}
{% block extra_head %}<style>.hidden { display: none; }</style>{% endblock %}
{% block content %}
  <main class="site-main vc_full_width_row_container no no no"
        id="cesis_main"
        role="main">
    <div class="cesis_container">
      <div class="article_ctn">
        <article class="post-255 page type-page status-publish hentry" id="post-255">
          <header class="entry-content-header">
          </header>
          <!-- .entry-content-header -->
          <div class="entry-content">
            {% set banner_title = "Frequently Asked Questions" %}
            {% set banner_image_url = "/assets/images/jam-session-in-stags-head-banner.jpg" %}
            {% set banner_class = "banner-padding" %}
            {% include "_partials/banner.html" %}
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row wpb_row vc_row-fluid section-teal vc_row-has-fill"
                 data-vc-full-width="true">
              <div class="wpb_column vc_column_container vc_col-sm-2">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper"></div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-8">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <h2 class="cesis_text_transform_none cesis_ar_text"
                        data-max_size=""
                        data-min_size="18"
                        style="color: #ffffff;
                               text-align: center;
                               letter-spacing:0px">
                      They're questions
                      we get asked frequently, and they even come with answers!
                    </h2>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-2">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper"></div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false">{% include "_partials/shape-divider.html" %}</div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row wpb_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element cesis_text_transform_none">
                      <div class="wpb_wrapper">
                        <h4>Are you on this Tuesday?</h4>
                        <p>Short answer: Yes.</p>
                        <p>
                          Long answer: We’re on every Tuesday as long as the Stag’s Head is
                          open and there isn’t a global pandemic causing a general lockdown, but
                          that rarely happens these days.
                        </p>
                        <h4>How much is it to attend? Where do I get tickets?</h4>
                        <p>
                          Ukulele Tuesday is <strong>free and non-ticketed</strong>. You just
                          show up. We’ll even hand you sweets and swag, sometimes.
                        </p>
                        <p>
                          If you want to support us financially (UT is 100% volunteer-run), we
                          collect tips on the night. They help us cover the costs of running
                          Tuesdays, maintaining the gear, and organising special theme nights. We
                          also have a <a href="https://buymeacoffee.com/ukuleletuesday">page on
                          buymeacoffee</a>!
                        </p>
                        <p>
                          Although we’re non-ticketed, as it can get busy during the summer
                          months, so we recommend queuing around 7:45 PM if you want to get a
                          seat.
                        </p>
                        <h4>Can I bring my own ukulele and play along?</h4>
                        <p>
                          Yes, absolutely! Ukulele Tuesday is open to any ukulele player who
                          wants to come and join us, regardless of ability. You do not have to
                          contact us or ask for permission beforehand. P.S. it’s a noisy crowd;
                          if you’re shy, no one will be able to hear you.
                        </p>
                        <h4>I can’t bring my ukulele. Can I borrow one?</h4>
                        <p>
                          Yes, if your dog ate your ukulele (or you’re flying over and
                          couldn’t bring your instrument), we have a bunch of <strong>house
                          ukuleles</strong> you can borrow. Send us a DM on <a href= "https://www.instagram.com/ukuleletuesday/">Instagram</a> or <a href= "https://www.facebook.com/UkuleleTuesday/">Facebook</a> and we’ll set
                          one aside for you, depending on availability. Please remember to give
                          it back at the end of the night.
                        </p>
                        <p>
                          If you end up coming back regularly (which we hope you’ll do!),
                          consider purchasing your own ukulele to free up house ukes for new
                          players.
                        </p>
                        <h4>I can’t play the ukulele. Can I still join you?</h4>
                        <p>
                          Yes! If you can’t play, sing your heart out. And if you’re up for
                          it, we’ll put a ukulele in your hands and show you some beginner
                          chords. Caution: you’ll end up addicted and buy your own ukulele.
                          You’ve been warned!
                        </p>
                        <h4>Can you play &lt;some-song-I-like&gt;?</h4>
                        <p>
                          If &lt;some-song-you-like&gt; is in our <a href= "http://www.ukuleletuesday.ie/songbook/">songbook</a>, then yes 😉 We
                          take requests!
                        </p>
                        <h4>
                          Can I bring my children to Ukulele Tuesday? Can I come if I’m under
                          18?
                        </h4>
                        <p>
                          Short answer: No. We consider ourselves to be an 18 and over event.
                          Some of our tunes have swears.
                        </p>
                        <p>
                          If you would like to attend with children, we won’t prevent you, but
                          <strong>you assume all responsibility for them</strong> :-). We are
                          hosted in a pub, and <a href="https://www.citizensinformation.ie/en/justice/criminal-law/criminal-offences/alcohol-and-the-law/#:~:text=Children%20in%20pubs,pm%20from%20May%20to%20September)">
                          Irish law</a> applies. We&nbsp;<strong>strongly recommend</strong>
                          asking the Stag’s Head for permission beforehand, as by law the
                          pub/premise owner can refuse access to children.
                        </p>
                        <h4>I have a disability, can I attend?</h4>
                        <p>
                          We’re striving to make Ukulele Tuesday inclusive and accessible for
                          everyone, so if you need any accommodations to attend, let us know!
                        </p>
                        <p>
                          The session gets quite busy, so if you need seating space, we
                          recommend queuing early or contacting us.
                        </p>
                        <p>
                          When it comes to <strong>wheelchair accessibility,</strong> UT is
                          hosted upstairs in the Stag’s Head – there is no elevator and only very
                          narrow stairs for access.
                        </p>
                        <h4>I want to buy a ukulele! Any recommendations?</h4>
                        <p>
                          You can find a selection of ukuleles at most online or physical
                          shops, and a beginner instrument won’t cost you an arm and a leg (we’d
                          recommend spending around 50 euros if you’re completely new to music).
                          For specific recommendations/reviews, check Got A Ukulele’s list of
                          <a href= "https://www.gotaukulele.com/p/ukulele-reviews.html">recommendations
                            between 0 and 50 pounds</a>.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tt-shape tt-shape-top" data-negative="false"></div>
                <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
              </div>
            </div>
            <!-- .entry-content -->
            <footer class="entry-footer">
            </footer>
            <!-- .entry-footer -->
          </article><!-- #post-## -->
        </div>
      </div>
      <!-- .container -->
    </main>
  {% endblock %}
  {% block extra_scripts %}{% endblock %}
