/* WP ADMIN TOP BAR ADJUST */


/* MAX WIDTH ADJUST */

@media only screen and (max-width: 768px) {
#wrap_all { margin-bottom: 0 !important;}

/* header */

	.mobile-menu li span,.tt-mobile-additional .cesis_social_icons {
		padding: 10px 15px;
	}
	.header_mobile li span:before,
	.header_mobile li span:after {
		right: 15px;
}

/* title */




/* Main content */

.cesis_container {
		padding: 0 15px;
}
.header_main .cesis_container {
		padding: 0 15px !important;
}


/* footer */

 .cesis_col-lg-4 {
	width: 100%;
	padding-bottom:30px;
}
.footer_sub .cesis_container {
	flex-direction: column;
}
.footer_sub .cesis_container > div {
	padding-bottom:15px;
}
.footer_sub .cesis_container > div:last-child {
	padding-bottom:0px;
}
.footer_sub .footer_sub_left,
.footer_sub .footer_sub_right,
.footer_sub .footer_sub_center{
	text-align: center;

}
/* Shortcodes */

/* Filter */

/* Tabs & Tous */

/* Timeline */

}




/* MIN WIDTH ADJUST */
