{% extends "_layouts/base.html" %}
{% block title %}Ukulele Tuesday Concerts{% endblock %}
{% block description %}
  The Ukulele Tuesday gig group plays festivals across Ireland (and beyond!). Get in touch to book us for your event.
{% endblock %}
{% block canonical_url %}/concerts/{% endblock %}
{% block og_title %}Ukulele Tuesday Gig Group{% endblock %}
{% block og_description %}
  The Ukulele Tuesday gig group plays festivals across Ireland (and beyond!). Get in touch to book us for your event.
{% endblock %}
{% block og_url %}/concerts/{% endblock %}
{% block article_modified_time %}2025-07-25T23:36:33+00:00{% endblock %}
{% block og_image %}/assets/images/Ukulele-Tuesday-Band-playing.jpg{% endblock %}
{% block twitter_title %}Ukulele Tuesday Gig Group{% endblock %}
{% block twitter_description %}
  The Ukulele Tuesday gig group plays festivals across Ireland (and beyond!). Get in touch to book us for your event.
{% endblock %}
{% block twitter_image %}/assets/images/Ukulele-Tuesday-Band-playing.jpg{% endblock %}
{% block twitter_reading_time %}2 minutes{% endblock %}
{% block extra_head %}
  <style>.hidden { display: none; }</style>
  <style>
  #cesis_cf7_tyk45uedoehg8mymbmhp input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]),
        #cesis_cf7_tyk45uedoehg8mymbmhp textarea,#cesis_cf7_tyk45uedoehg8mymbmhp select{border-radius:20px;}#cesis_cf7_tyk45uedoehg8mymbmhp input[type="submit"]{border-radius:100px;}
  </style>
{% endblock %}
{% block content %}
  <main class="site-main vc_full_width_row_container no no no"
        id="cesis_main"
        role="main">
    <div class="cesis_container">
      <div class="article_ctn">
        <article class="post-46 page type-page status-publish hentry" id="post-46">
          <header class="entry-content-header">
          </header>
          <!-- .entry-content-header -->
          <div class="entry-content">
            {% set banner_title = "Concerts" %}
            {% set banner_image_url = "/assets/images/banner-ukulele-tuesday-mic-crowd.jpg" %}
            {% set banner_class = "banner-padding" %}
            {% include "_partials/banner.html" %}
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row wpb_row vc_row-fluid section-teal vc_row-has-fill"
                 data-vc-full-width="true">
              <div class="wpb_column vc_column_container vc_col-sm-2">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper"></div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-8">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <h2 class="cesis_text_transform_none cesis_ar_text"
                        data-max_size=""
                        data-min_size="18"
                        style="color: #ffffff;
                               text-align: center;
                               letter-spacing:0px">
                      Ukulele Tuesday
                      (known to our friends as UT) started life as a small jam session in the Stag’s Head
                      pub, Dublin, and has grown into one of the driving forces behind Ireland’s
                      ukulele scene
                    </h2>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-2">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper"></div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false">{% include "_partials/shape-divider.html" %}</div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row wpb_row vc_row-fluid mt-25 vc_row-o-content-middle vc_row-flex">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element cesis_text_transform_none"
                         style="color:#6d7783">
                      <div class="wpb_wrapper">
                        <p>
                          Ukulele Tuesday is a regular feature at music festivals across the
                          island of Ireland (and beyond!), including appearances at the Temple
                          Bar Trad Fest (IRE), the Ukulele Hooley (IRE), Monopolele Festival
                          (ITA) and TedxFulbrightDublin.
                        </p>
                        <p>
                          Ukulele Tuesday harnessed the power of social media to score a
                          number of viral hits with songs like <a href="https://www.youtube.com/watch?v=v9zhZS2vTK4&amp;t=2s&amp;ab_channel=UkuleleTuesday"
    rel="noopener"
    target="_blank">“Psycho Killer” by the Talking
                          Heads</a>, <a href="https://www.youtube.com/watch?v=7PtwkucvBJA&amp;ab_channel=LovinDublin"
    rel="noopener"
    target="_blank">“Hit Me Baby” by Britney Spears</a>, and
                          a <a href="https://www.youtube.com/watch?v=QSqHTVfu2Qs&amp;ab_channel=UkuleleTuesday"
    rel="noopener"
    target="_blank">viral Christmas hit in 2018</a> with a
                          UT original tune. You can check out our music on Spotify and
                          YouTube.
                        </p>
                      </div>
                    </div>
                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                      <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner mt-15">
                          <div class="wpb_wrapper">
                            <div class="wpbsctn" data-delay="0">
                              <div class="cesis_button_center">
                                <a class="cesis_button_ctn main_font cesis_button_large center"
                                   data-delay="0"
                                   href="https://open.spotify.com/artist/1I58ohDDrb0BK55KuVvtjM"
                                   id="cesis_button_bl22enxwh62x5sc9duz7"
                                   onmouseenter="this.style.boxShadow='none'; this.style.borderColor='#66023c'; this.style.background='#006566'; this.style.color='#ffffff';"
                                   onmouseleave="this.style.boxShadow='0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05)'; this.style.borderColor='#efa537'; this.style.background='#efa537'; this.style.color='#ffffff';"
                                   style="margin-top:0px;
                                          margin-bottom:0px;
                                          margin-right:0px;
                                          margin-left:0px;
                                          box-shadow:0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
                                          font-size:16px;
                                          font-weight:700;
                                          line-height:64px;
                                          text-transform:uppercase;
                                          letter-spacing:0px;
                                          border:0px solid #efa537;
                                          border-radius:100px;
                                          background:#efa537;
                                          color:#ffffff"
                                   target="_blank"><span class="cesis_button_sub_ctn cesis_button_icon_hover cesis_button_icon_right">
                                  <span class="cesis_button_text">Spotify</span></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner mt-15">
                          <div class="wpb_wrapper">
                            <div class="wpbsctn" data-delay="0">
                              <div class="cesis_button_center">
                                <a class="cesis_button_ctn main_font cesis_button_large center"
                                   data-delay="0"
                                   href="https://www.youtube.com/c/UkuleleTuesday"
                                   id="cesis_button_h8ge19ny4z19h6ccn3g5"
                                   onmouseenter="this.style.boxShadow='none'; this.style.borderColor='#66023c'; this.style.background='#006566'; this.style.color='#ffffff';"
                                   onmouseleave="this.style.boxShadow='0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05)'; this.style.borderColor='#efa537'; this.style.background='#efa537'; this.style.color='#ffffff';"
                                   style="margin-top:0px;
                                          margin-bottom:0px;
                                          margin-right:0px;
                                          margin-left:0px;
                                          box-shadow:0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
                                          font-size:16px;
                                          font-weight:700;
                                          line-height:64px;
                                          text-transform:uppercase;
                                          letter-spacing:0px;
                                          border:0px solid #efa537;
                                          border-radius:100px;
                                          background:#efa537;
                                          color:#ffffff"
                                   target="_blank"><span class="cesis_button_sub_ctn cesis_button_icon_hover cesis_button_icon_right">
                                  <span class="cesis_button_text">YouTube</span></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner mt-15">
                  <div class="wpb_wrapper">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                      <div class="wpb_wrapper">
                        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                                frameborder="0"
                                height="315"
                                src="https://www.youtube.com/embed/jzuXqVVW3i8"
                                title="YouTube video player"
                                width="560"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                      <div class="wpb_wrapper">
                        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                                frameborder="0"
                                height="315"
                                src="https://www.youtube.com/embed/Et-QpUWYuDg"
                                title="YouTube video player"
                                width="560"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                      <div class="wpb_wrapper">
                        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                                frameborder="0"
                                height="315"
                                src="https://www.youtube.com/embed/m78IHPq3c8o"
                                title="YouTube video player"
                                width="560"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid section-maroon vc_row-has-fill"
                 data-vc-full-width="true">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <h2 class="cesis_text_transform_none cesis_ar_text"
                        data-max_size="36px"
                        data-min_size="18"
                        style="font-size: 36px;
                               color: #ffffff;
                               line-height: 42px;
                               text-align: left;
                               letter-spacing:0px">Festival Organiser?</h2>
                    <div class="wpb_text_column wpb_content_element cesis_text_transform_none"
                         style="color:#ffffff">
                      <div class="wpb_wrapper">
                        <p>Get in touch! We’d love to play your event in Ireland or abroad.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="body wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="cesis_cf7_ctn cesis_cf7_horizontal_2 cesis_cf7_medium cesis_cf7_transparent_dark cesis_cf7_btn cesis_cf7_medium_btn cesis_cf7_fw_btn cesis_cf7_400 cesis_cf7_none"
                         data-delay="15"
                         id="cesis_cf7_tyk45uedoehg8mymbmhp"
                         style="font-weight:400;
                                margin-top:0px;
                                margin-bottom:0px">
                      <div class="wpcf7 no-js"
                           data-wpcf7-id="8"
                           dir="ltr"
                           id="wpcf7-f8-p46-o1"
                           lang="en-US">
                        <div class="screen-reader-response">
                          <p aria-atomic="true" aria-live="polite" role="status"></p>
                        </div>
                        <form aria-label="Contact form"
                              class="wpcf7-form init"
                              data-netlify="true"
                              data-status="init"
                              method="post"
                              name="contact"
                              netlify-honeypot="bot-field"
                              novalidate="novalidate"
                              id="contact">
                          <input class="wpcf7-form-control wpcf7-hidden"
                                 name="form-name"
                                 type="hidden"
                                 value="contact">
                          <p>
                            <label>
                              Your name
                              <br>
                              <span class="wpcf7-form-control-wrap" data-name= "your-name">
                                <input aria-invalid="false"
                                       aria-required="true"
                                       class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                       maxlength="400"
                                       name="your-name"
                                       size="40"
                                       type="text"
                                       value="">
                              </span>
                            </label>
                          </p>
                          <p>
                            <label>
                              Your email
                              <br>
                              <span class="wpcf7-form-control-wrap" data-name= "your-email">
                                <input aria-invalid="false"
                                       aria-required="true"
                                       class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email"
                                       maxlength="400"
                                       name="your-email"
                                       size="40"
                                       type="email"
                                       value="">
                              </span>
                            </label>
                          </p>
                          <p>
                            <label>
                              Subject
                              <br>
                              <span class="wpcf7-form-control-wrap" data-name= "your-subject">
                                <input aria-invalid="false"
                                       aria-required="true"
                                       class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                       maxlength="400"
                                       name="your-subject"
                                       size="40"
                                       type="text"
                                       value="">
                              </span>
                            </label>
                          </p>
                          <p>
                            <label>
                              Your message (optional)
                              <br>
                              <span class="wpcf7-form-control-wrap" data-name="your-message">
                                <textarea aria-invalid="false"
                                          class="wpcf7-form-control wpcf7-textarea"
                                          cols="40"
                                          maxlength="2000"
                                          name="your-message"
                                          rows="10"></textarea></span>
                            </label>
                          </p>
                          <div class="cf7-cf-turnstile"
                               style="margin-top: 0px;
                                      margin-bottom: -15px">
                            <div class="cf-turnstile"
                                 data-action="contact-form-7"
                                 data-appearance="always"
                                 data-language="auto"
                                 data-retry="auto"
                                 data-retry-interval="1000"
                                 data-sitekey="0x4AAAAAABigdtf8yihA-gUO"
                                 data-size="compact"
                                 data-theme="light"
                                 id="cf-turnstile-cf7-2098947297"></div>
                            <script>
                          document.addEventListener("DOMContentLoaded", function() { setTimeout(function(){ var e=document.getElementById("cf-turnstile-cf7-2098947297"); e&&!e.innerHTML.trim()&&(turnstile.remove("#cf-turnstile-cf7-2098947297"), turnstile.render("#cf-turnstile-cf7-2098947297", {sitekey:"0x4AAAAAABigdtf8yihA-gUO"})); }, 0); });
                            </script>
                            <br class= "cf-turnstile-br cf-turnstile-br-cf7-2098947297">
                            <script>
                          document.addEventListener("DOMContentLoaded",function(){document.querySelectorAll('.wpcf7-form').forEach(function(e){e.addEventListener('submit',function(){if(document.getElementById('cf-turnstile-cf7-2098947297')){setTimeout(function(){turnstile.reset('#cf-turnstile-cf7-2098947297');},1000)}})})});
                            </script>
                          </div>
                          <br>
                          <input class="wpcf7-form-control wpcf7-submit has-spinner"
                                 type="submit"
                                 value="Submit">
                          <div aria-hidden="true" class="wpcf7-response-output"></div>
                          <p class="hidden">
                            <label>
                              Don’t fill this out if you’re human:
                              <input name="bot-field" type="text">
                            </label>
                          </p>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false">{% include "_partials/shape-divider.html" %}</div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row wpb_row vc_row-fluid mt-25">
              <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center img-border-green">
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper vc_box_border_grey">
                          <img alt=""
                               class="vc_single_image-img attachment-full"
                               decoding="async"
                               height="667"
                               loading="lazy"
                               sizes="auto, (max-width: 1000px) 100vw,
                                      1000px"
                               src="/assets/images/Ukulele-Tuesday-Band-at-TedX.jpg"
                               srcset="/assets/images/Ukulele-Tuesday-Band-at-TedX.jpg 1000w,
                                       /assets/images/Ukulele-Tuesday-Band-at-TedX-300x200.jpg 300w,
                                       /assets/images/Ukulele-Tuesday-Band-at-TedX-768x512.jpg 768w,
                                       /assets/images/Ukulele-Tuesday-Band-at-TedX-500x334.jpg 500w"
                               title="Ukulele-Tuesday-Band-at-TedX"
                               width="1000">
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center img-border-yellow">
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper vc_box_border_grey">
                          <img alt="Ukulele Tuesday band"
                               class="vc_single_image-img attachment-full"
                               decoding="async"
                               height="667"
                               loading="lazy"
                               sizes="auto, (max-width: 1000px) 100vw,
                                      1000px"
                               src="/assets/images/Ukulele-Tuesday-Band-at-Cobh-2019.jpg"
                               srcset="/assets/images/Ukulele-Tuesday-Band-at-Cobh-2019.jpg 1000w,
                                       /assets/images/Ukulele-Tuesday-Band-at-Cobh-2019-300x200.jpg 300w,
                                       /assets/images/Ukulele-Tuesday-Band-at-Cobh-2019-768x512.jpg 768w,
                                       /assets/images/Ukulele-Tuesday-Band-at-Cobh-2019-500x334.jpg 500w"
                               title="Ukulele Tuesday band"
                               width="1000">
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center img-border-maroon">
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper vc_box_border_grey">
                          <img alt="Ukulele Tuesday with John Sheahan"
                               class="vc_single_image-img attachment-full"
                               decoding="async"
                               height="667"
                               loading="lazy"
                               sizes="auto, (max-width: 1000px) 100vw,
                                      1000px"
                               src="/assets/images/Gig-Group-Uke.jpg"
                               srcset="/assets/images/Gig-Group-Uke.jpg 1000w,
                                       /assets/images/Gig-Group-Uke-300x200.jpg 300w,
                                       /assets/images/Gig-Group-Uke-768x512.jpg 768w,
                                       /assets/images/Gig-Group-Uke-500x334.jpg 500w"
                               title="Ukulele Tuesday with John Sheahan"
                               width="1000">
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
          </div>
          <!-- .entry-content -->
          <footer class="entry-footer">
          </footer>
          <!-- .entry-footer -->
        </article><!-- #post-## -->
      </div>
    </div>
    <!-- .container -->
  </main>
{% endblock %}
{% block extra_scripts %}{% endblock %}
