{% extends "_layouts/base.html" %}
{% block title %}Ukulele Tuesday Songbooks{% endblock %}
{% block description %}
  The Ukulele Tuesday songbooks are hosted on our songbook site. Songs are projected on a screen during our ukulele play-along sessions.
{% endblock %}
{% block canonical_url %}/songbook/{% endblock %}
{% block og_title %}Ukulele Tuesday Songbooks{% endblock %}
{% block og_description %}
  The Ukulele Tuesday songbooks are hosted on our songbook site. Songs are projected on a screen during our ukulele play-along sessions.
{% endblock %}
{% block og_url %}/songbook/{% endblock %}
{% block article_modified_time %}2025-07-25T23:43:29+00:00{% endblock %}
{% block og_image %}/assets/images/Ukulele-Tuesday-jam-crowd.jpg{% endblock %}
{% block twitter_title %}Ukulele Tuesday Songbooks{% endblock %}
{% block twitter_description %}
  The Ukulele Tuesday songbooks are hosted on our songbook site. Songs are projected on a screen during our ukulele play-along sessions.
{% endblock %}
{% block twitter_image %}/assets/images/Ukulele-Tuesday-jam-crowd.jpg{% endblock %}
{% block twitter_reading_time %}1 minute{% endblock %}
{% block lcp_preload %}
  <link as="image"
        href="/assets/images/banner-ukulele-tuesday-mic-crowd.avif"
        rel="preload"
        type="image/avif">
{% endblock %}
{% block content %}
  <main class="site-main full-width-container no no no"
        id="page-main"
        role="main">
    <div class="site-container">
      <div class="article_ctn">
        <article class="post-34 page type-page status-publish hentry" id="post-34">
          <header class="entry-content-header">
          </header>
          <!-- .entry-content-header -->
          <div class="entry-content">
            {% set banner_title = "Our Songbooks" %}
            {% set banner_image_url = "/assets/images/banner-ukulele-tuesday-mic-crowd.jpg" %}
            {% set banner_class = "banner-padding-large mb-0" %}
            {% include "_partials/banner.html" %}
            <div class="row-full-width clearfix"></div>
            <div class="content-row section-teal row-fill" data-vc-full-width="true">
              <div class="col col-2">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="col col-8">
                <div class="col-inner">
                  <div class="col-content">
                    <h2 class="text-normal section-heading"
                        data-max_size=""
                        data-min_size="18"
                        style="color: #ffffff;
                               text-align: center;
                               letter-spacing:0px">
                      The best of the
                      80s, 90s, and today, with accurate ukulele chords on every tab.
                    </h2>
                  </div>
                </div>
              </div>
              <div class="col col-2">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false">{% include "_partials/shape-divider.html" %}</div>
            </div>
            <div class="row-full-width clearfix"></div>
            <div class="content-row">
              <div class="col col-2">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="col col-8">
                <div class="col-inner">
                  <div class="col-content">
                    <div class="text-block content-element text-normal">
                      <div class="col-content">
                        <p data-min_size="18">
                          During the jam, we project the songs on a big
                          screen so you can follow along; you can also load them from your
                          device. Click this link to download our songbooks:
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-2">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
            <div class="content-row mb-55">
              <div class="col col-4">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="col col-4">
                <div class="col-inner">
                  <div class="col-content">
                    <div class="wpbsctn" data-delay="0">
                      <div class="btn-center">
                        <a class="btn main_font btn-lg center"
                           data-delay="0"
                           href="https://songbooks.ukuleletuesday.ie/"
                           id="songbook-btn"
                           onmouseenter="this.style.boxShadow='none'; this.style.borderColor='#66023c'; this.style.background='#006566'; this.style.color='#ffffff';"
                           onmouseleave="this.style.boxShadow='0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05)'; this.style.borderColor='#efa537'; this.style.background='#efa537'; this.style.color='#ffffff';"
                           style="margin-top:0px;
                                  margin-bottom:0px;
                                  margin-right:0px;
                                  margin-left:0px;
                                  box-shadow:0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
                                  font-size:16px;
                                  font-weight:700;
                                  line-height:64px;
                                  text-transform:uppercase;
                                  letter-spacing:0px;
                                  border:0px solid #efa537;
                                  border-radius:100px;
                                  background:#efa537;
                                  color:#ffffff"
                           target="_blank"><span class="btn-inner btn-icon-hover btn-icon-right"><span class="btn-text">Download songbooks</span></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-4">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
            <div class="content-row">
              <div class="col col-2">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="col col-8">
                <div class="col-inner">
                  <div class="col-content">
                    <div class="text-block content-element text-normal">
                      <div class="col-content">
                        <p>
                          The songbook gets updated regularly. We also release custom editions
                          for&nbsp; special occasions, like Valentine’s Day, Christmas, or
                          Halloween. So make sure to download the freshest version before coming
                          to the Tuesday session!
                        </p>
                        <p>
                          All our songs are tabbed in the original key, so grab your ukulele
                          and play along to our Spotify playlist:
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-2">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
            <div class="content-row">
              <div class="col col-2">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="col col-8">
                <div class="col-inner">
                  <div class="col-content">
                    <div class="text-block content-element text-normal">
                      <div class="col-content">
                        <p>
                          <iframe allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                  allowfullscreen
                                  frameborder="0"
                                  height="380"
                                  src="https://open.spotify.com/embed/playlist/4JCnmWFGIRJdMfU1gOMvUG?si=MBhI5GAGR2OS6HboTVZ1ug&amp;utm_source=oembed"
                                  style="border-radius: 12px"
                                  title="Spotify Embed: Ukulele Tuesday: The Songbook"
                                  width="100%"></iframe>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-2">
                <div class="col-inner">
                  <div class="col-content"></div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
          </div>
          <!-- .entry-content -->
          <footer class="entry-footer">
          </footer>
          <!-- .entry-footer -->
        </article><!-- #post-## -->
      </div>
    </div>
    <!-- .container -->
  </main>
{% endblock %}
{% block extra_scripts %}{% endblock %}
