{% extends "_layouts/base.html" %}
{% block title %}Ukulele Tuesday - Home{% endblock %}
{% block description %}
  Ukulele Tuesday is an open jam and a gigging group based in Dublin, Ireland. We play ukes every Tuesday in the Stag's Head pub, and perform around Ireland (and beyond!).
{% endblock %}
{% block canonical_url %}/{% endblock %}
{% block og_title %}Ukulele Tuesday{% endblock %}
{% block og_description %}
  Ukulele Tuesday is an open jam and a gigging group based in Dublin, Ireland. We play ukes every Tuesday in the Stag's Head pub, and perform around Ireland (and beyond!).
{% endblock %}
{% block og_url %}/{% endblock %}
{% block article_modified_time %}2025-07-25T23:27:51+00:00{% endblock %}
{% block og_image %}/assets/images/Ukulele-Tuesday-Band-playing.jpg{% endblock %}
{% block twitter_title %}Ukulele Tuesday{% endblock %}
{% block twitter_description %}
  Ukulele Tuesday is an open jam and a gigging group based in Dublin, Ireland. We play ukes every Tuesday in the Stag's Head pub, and perform around Ireland (and beyond!).
{% endblock %}
{% block twitter_image %}/assets/images/Ukulele-Tuesday-Band-playing.jpg{% endblock %}
{% block twitter_reading_time %}2 minutes{% endblock %}
{% block extra_head %}<style>.hidden { display: none; }</style>{% endblock %}
{% block content %}
  <main class="site-main vc_full_width_row_container no no no"
        id="cesis_main"
        role="main">
    <div class="cesis_container">
      <div class="article_ctn">
        <article class="post-9 page type-page status-publish hentry" id="post-9">
          <header class="entry-content-header">
          </header>
          <!-- .entry-content-header -->
          <div class="entry-content">
            <section class="hero-banner">
              <h1 style="color: white;
                         font-family: 'Pattaya', sans-serif;
                         font-size: 72px;
                         line-height: 80px;
                         margin: 0;
                         text-shadow: 2px 2px 4px rgba(0,0,0,0.5)">Welcome to Ukulele Tuesday</h1>
              <div class="hero-buttons">
                <a class="rev-btn" href="/songbook/" target="_self">View Songbook</a>
                <a class="rev-btn" href="/contact-us" target="_self">Get In touch</a>
              </div>
            </section>
            <div class="purple-section vc_row wpb_row vc_row-fluid vc_row-has-fill"
                 data-vc-full-width="true"
                 data-vc-full-width-init="true">
              <h2 class="cesis_text_transform_none cesis_ar_text"
                  data-max_size=""
                  data-min_size="18">
                Ukulele Tuesday
                started life as a small jam in the Stag’s Head pub, Dublin, and has grown
                into one of the driving forces behind Ireland’s ukulele scene.
              </h2>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false">{% include "_partials/shape-divider.html" %}</div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row wpb_row vc_row-fluid mt-25 vc_row-o-content-middle vc_row-flex">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <h2 class="cesis_text_transform_none cesis_ar_text"
                        data-max_size=""
                        data-min_size="18"
                        style="text-align: left;
                               letter-spacing:0px">The Gig Group</h2>
                    <div class="wpb_text_column wpb_content_element cesis_text_transform_none">
                      <div class="wpb_wrapper">
                        <p style="text-align: left;">
                          The gigging group is a regular feature at
                          music festivals across the island of Ireland (and beyond!), including
                          appearances at the <a href="https://tradfesttemplebar.com/" rel= "noopener" target="_blank">Temple Bar Trad Fest</a>, the <a href= "https://ukulelehooley.com/" rel="noopener" target="_blank">Ukulele
                          Hooley</a>, and <a href="https://www.ted.com/tedx/events/29703"
    rel="noopener"
    target="_blank">TedxFulbrightDublin</a>.
                        </p>
                      </div>
                    </div>
                    <div class="wpbsctn" data-delay="0">
                      <a class="cesis_button_ctn main_font cesis_button_large cesis_button_left"
                         data-delay="0"
                         href="/concerts/"
                         id="cesis_button_mayovamoo12ic2652aob"
                         onmouseenter="this.style.boxShadow='none'; this.style.borderColor='#66023c'; this.style.background='#006566'; this.style.color='#ffffff';"
                         onmouseleave="this.style.boxShadow='0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05)'; this.style.borderColor='#efa537'; this.style.background='#efa537'; this.style.color='#ffffff';"
                         style="margin-top:0px;
                                margin-bottom:0px;
                                margin-right:0px;
                                margin-left:0px;
                                box-shadow:0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
                                font-size:16px;
                                font-weight:700;
                                line-height:64px;
                                text-transform:uppercase;
                                letter-spacing:0px;
                                border:0px solid #efa537;
                                border-radius:100px;
                                background:#efa537;
                                color:#ffffff"
                         target="_self"><span class="cesis_button_sub_ctn cesis_button_icon_hover cesis_button_icon_right"><span class="cesis_button_text">Read More</span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner mt-15">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center img-border-green">
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper vc_box_border_grey">
                          <img alt="Ukulele Tuesday band"
                               class="vc_single_image-img attachment-full"
                               decoding="async"
                               height="667"
                               sizes="(max-width: 1000px) 100vw,
                                      1000px"
                               src="/assets/images/Ukulele-Tuesday-Band-at-Cobh-2019.jpg"
                               srcset="/assets/images/Ukulele-Tuesday-Band-at-Cobh-2019.jpg 1000w,
                                       /assets/images/Ukulele-Tuesday-Band-at-Cobh-2019-300x200.jpg 300w,
                                       /assets/images/Ukulele-Tuesday-Band-at-Cobh-2019-768x512.jpg 768w,
                                       /assets/images/Ukulele-Tuesday-Band-at-Cobh-2019-500x334.jpg 500w"
                               title="Ukulele Tuesday band"
                               width="1000">
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid mt-25 vc_row-o-content-middle vc_row-flex">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner mt-15">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center img-border-maroon">
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper vc_box_border_grey">
                          <img alt="Jam session in Stags Head crowd"
                               class="vc_single_image-img attachment-full"
                               decoding="async"
                               height="667"
                               sizes="(max-width: 1000px) 100vw,
                                      1000px"
                               src="/assets/images/Ukulele-Tuesday-jam-crowd.jpg"
                               srcset="/assets/images/Ukulele-Tuesday-jam-crowd.jpg 1000w,
                                       /assets/images/Ukulele-Tuesday-jam-crowd-300x200.jpg 300w,
                                       /assets/images/Ukulele-Tuesday-jam-crowd-768x512.jpg 768w,
                                       /assets/images/Ukulele-Tuesday-jam-crowd-500x334.jpg 500w"
                               title="Jam session in Stags Head crowd"
                               width="1000">
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <h2 class="cesis_text_transform_none cesis_ar_text"
                        data-max_size=""
                        data-min_size="18"
                        style="text-align: left;
                               letter-spacing:0px">The Jam Session</h2>
                    <div class="wpb_text_column wpb_content_element cesis_text_transform_none">
                      <div class="wpb_wrapper">
                        <p style="text-align: left;">
                          Love to play uke? Love to sing? Just
                          looking for something to do on a Tuesday? Join us in the <a href= "https://stagshead.ie/" rel="noopener" target="_blank">Stag’s Head</a>,
                          Dame Lane, every Tuesday from 8pm.
                        </p>
                      </div>
                    </div>
                    <div class="wpbsctn" data-delay="0">
                      <a class="cesis_button_ctn main_font cesis_button_large cesis_button_left"
                         data-delay="0"
                         href="/tuesday-session/"
                         id="cesis_button_3rg7b7zeajpskn0z6zm4"
                         onmouseenter="this.style.boxShadow='none'; this.style.borderColor='#66023c'; this.style.background='#006566'; this.style.color='#ffffff';"
                         onmouseleave="this.style.boxShadow='0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05)'; this.style.borderColor='#efa537'; this.style.background='#efa537'; this.style.color='#ffffff';"
                         style="margin-top:0px;
                                margin-bottom:0px;
                                margin-right:0px;
                                margin-left:0px;
                                box-shadow:0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
                                font-size:16px;
                                font-weight:700;
                                line-height:64px;
                                text-transform:uppercase;
                                letter-spacing:0px;
                                border:0px solid #efa537;
                                border-radius:100px;
                                background:#efa537;
                                color:#ffffff"
                         target="_self"><span class="cesis_button_sub_ctn cesis_button_icon_hover cesis_button_icon_right"><span class="cesis_button_text">Read More</span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 32px"></div>
                  </div>
                </div>
              </div>
              <div class="tt-shape tt-shape-top" data-negative="false"></div>
              <div class="tt-shape tt-shape-bottom" data-negative="false"></div>
            </div>
          </div>
          <div style="margin-top: 20px; margin-bottom: 20px">
            <h2 class="cesis_text_transform_none cesis_ar_text"
                data-max_size=""
                data-min_size="18">Upcoming Events</h2>
            <p>Come find us at the regular Tuesday sessions, gigs, and festivals!</p>
            <div style="margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        flex-wrap: wrap">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span style="height: 15px;
                             width: 15px;
                             background-color: #0b8043;
                             border-radius: 3px;
                             display: inline-block"></span>
                <span>Jam Sessions</span>
              </div>
              <div style="display: flex; align-items: center; gap: 5px;">
                <span style="height: 15px;
                             width: 15px;
                             background-color: #f6bf26;
                             border-radius: 3px;
                             display: inline-block"></span>
                <span>Concerts</span>
              </div>
            </div>
            <iframe src="https://calendar.google.com/calendar/embed?src=3a583720ada6b96add65d4dc75539408da8d79876140c012f4eb81b8b7fd1bb1%40group.calendar.google.com&ctz=Europe%2FDublin&mode=AGENDA"
                    style="border: 0"
                    width="100%"
                    height="600"
                    frameborder="0"
                    scrolling="no"
                    class="hide-in-snapshot-tests"></iframe>
          </div>
          <!-- .entry-content -->
          <footer class="entry-footer">
          </footer>
          <!-- .entry-footer -->
        </article><!-- #post-## -->
      </div>
    </div>
    <!-- .container -->
  </main>
{% endblock %}
{% block extra_scripts %}{% endblock %}
